omegaconf==2.3.0
torch==2.6.0 --index-url https://download.pytorch.org/whl/cu124
torchvision==0.21.0 --index-url https://download.pytorch.org/whl/cu124
torchaudio==2.6.0 --index-url https://download.pytorch.org/whl/cu124
lightning==2.6.0
tensordict==0.10.0
gymnasium[classic-control]==1.2.2
torchrl==0.10.1
opencv-python==4.12.0.88
tensorboardX==2.6.4
tensorboard==2.20.0